// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$flat-dark-gray: #3B4142;
$flat-dark-blue: #2C3E50;
$flat-red: #E74C3C;
$flat-white: #ECF0F1;
$flat-blue-light: #2980B9;

$light-gray: #F3F3F3;

$orange: #FFA500;

$font-lato: 'Lato', Sans-Serif;

@mixin boxShadow(){
	-webkit-box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
	   -moz-box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
			box-shadow: 0px 5px 45px -10px rgba(71,71,71,0.4);
}

// @mixin boxShadowInset($

@mixin box-sizing($style){
	-webkit-box-sizing: $style;
	   -moz-box-sizing: $style;
	 	-ms-box-sizing: $style;
	  		box-sizing: $style;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
}

.navbar {
	background-color:$flat-dark-gray;
	.container-fluid .navbar-header .navbar-toggle {
		border:none;
	}
}

.navbar-default .navbar-nav>li>a {
	color:$flat-white;
	// @include box-sizing(border-box);
	&:hover {
		background-color:$flat-red;
		color:$flat-white;
		// box-shadow: inset 0px -5px 0 -2px $flat-red;
		// border-bottom:2px solid $flat-red;
		color:$flat-white;
	}
}

.navbar-default .navbar-brand {
	color:$flat-white;
}

.navbar-default .navbar-brand:hover {
	color:$flat-white;
	// font-weight:bold;
}

.navbar-collapse {
	border:0;
	box-shadow:none;
}


.navbar-default {
	border:0;
}

.navbar {
	border-radius:0px;
}
.navbar-nav {
	margin-top:0;
	margin-bottom:0;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:$flat-white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color:transparent;
}

.loginRegisterBox {
	@include boxShadow();
	@include box-sizing(border-box);
	width:90%;
	display:block;
	margin:auto;
	// padding-top:15px;
	// padding:20px;
	h1 {
		color:$flat-white;
		background-color:$flat-dark-gray;
		text-align: center;
		font-family:$font-lato;
		font-weight:900;
		padding:40px 0px;
		margin:0px;
	}

	.checkbox {
		text-align: center;
		margin:0;
		padding:20px 0px;
	}
	.form-group {
		margin-bottom:0px;
		.form-control {
		    height:auto;
		    font-size: auto;
		    line-height: 1.42857143;
		    color: #555;
		    background-color: #fff;
		    background-image: none;
		    border: 0px;
		    border-radius:0px;
		    -webkit-box-shadow:none;
		    box-shadow:none;
		    text-align: center;
		    background-color: white;
		    padding:20px 5px;
		}
		input.btn.btn-primary.register, input.btn.btn-primary.login {
			background-color:$flat-blue-light;
    		width: 100%;
    		border-radius: 0px;
    		padding:20px;
    		font-size:1.4em;
    		border:0;
    		&:hover {
    			background-color:$flat-blue-light;
    			border:0;
    		}
    	}
	}
}

@media screen and (min-width: 768px) {
	.loginRegisterBox{
		width:70%;
		margin-top:20px;
	}

	.navbar-default .navbar-nav>li>a {
		color:$flat-white;
		@include box-sizing(border-box);
		&:hover {
			box-shadow: inset 0px -5px 0 -2px $flat-red;
			// border-bottom:2px solid $flat-red;
			color:$flat-white;
			background-color:transparent;
		}
	}
}
@media screen and (min-width: 992px) {
	.loginRegisterBox{
		width:60%;
		margin-top:30px;
	}
}
@media screen and (min-width: 1200px) {
	.loginRegisterBox{
		width:40%;
		margin-top:40px;
	}
}
